body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

h1 {
    text-align: center;
    color: #333;
}

form {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="file"] {
    display: block;
    margin: 20px auto;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background: #5cb85c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #4cae4c;
}

button.loading{
    pointer-events: none;
    background: #addfad;
}

.message {
    text-align: center;
    margin-top: 20px;
    color: #d9534f;
}

input[type="file"] {
  padding: 10px;
  border: 2px solid #addfad;
  border-radius: 5px;
  background-color: #fafafa;
  color: #333;
  cursor: pointer;
    width: 30rem;
}

input[type="file"]::-webkit-file-upload-button {
  background: #4cae4c;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
    margin-right: 15px;
}

input[type="file"]::-webkit-file-upload-button:hover {
    background: #4cae4c;
}

