Flask
flask-cors
moviepy
speechrecognition
pydub
numpy
tensorflow
torch
transformers
whisper
openai-whisper
speechbrain
torchaudio
pyannote-audio
#ffmpeg ha d'estar instalat i afegit a l'entorn perque funcioni